{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=coromendal_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Acn",
                    "Identifier": "Acn",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditee",
                    "Identifier": "AcnAuditee",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditeeReference",
                    "Identifier": "AcnAuditeeReference",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditor",
                    "Identifier": "AcnAuditor",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditorReference",
                    "Identifier": "AcnAuditorReference",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditeeRef",
                    "Identifier": "AcnAuditeeRef",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditorRef",
                    "Identifier": "AcnAuditorRef",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.minutesofmeeting",
                    "Identifier": "Minutesofmeeting",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MeetingIssue",
                    "Identifier": "MeetingIssue",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Notes",
                    "Identifier": "Notes",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MyNotes",
                    "Identifier": "MyNotes",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MeetingAbsent",
                    "Identifier": "MeetingAbsent",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MeetingPoints",
                    "Identifier": "MeetingPoints",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Questions",
                    "Identifier": "Questions",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Adminiatration"
                },
                {
                    "Tablename": "dbo.Feedback",
                    "Identifier": "Feedback",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Adminiatration"
                },
                {
                    "Tablename": "dbo.scope",
                    "Identifier": "Scope",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "ADMINISTRATION"
                },
                {
                    "Tablename": "dbo.Acnreport",
                    "Identifier": "Acnreport",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=coromendal_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\coromendal\\coromendal.Web\\coromendal.Web.csproj",
    "RootNamespace": "coromendal",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true
}