{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(localdb)\\v11.0; Initial Catalog=coromendal_Default_v1;Integrated Security=true",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Acn",
                    "Identifier": "Acn",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditee",
                    "Identifier": "AcnAuditee",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditeeReference",
                    "Identifier": "AcnAuditeeReference",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditor",
                    "Identifier": "AcnAuditor",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditorReference",
                    "Identifier": "AcnAuditorReference",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditeeRef",
                    "Identifier": "AcnAuditeeRef",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditorRef",
                    "Identifier": "AcnAuditorRef",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.minutesofmeeting",
                    "Identifier": "Minutesofmeeting",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MeetingIssue",
                    "Identifier": "MeetingIssue",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Notes",
                    "Identifier": "Notes",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MyNotes",
                    "Identifier": "MyNotes",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MeetingAbsent",
                    "Identifier": "MeetingAbsent",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MeetingPoints",
                    "Identifier": "MeetingPoints",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Questions",
                    "Identifier": "Questions",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Adminiatration"
                },
                {
                    "Tablename": "dbo.Feedback",
                    "Identifier": "Feedback",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Adminiatration"
                },
                {
                    "Tablename": "dbo.scope",
                    "Identifier": "Scope",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "ADMINISTRATION"
                },
                {
                    "Tablename": "dbo.Acnreport",
                    "Identifier": "Acnreport",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnFeedback",
                    "Identifier": "AcnFeedback",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.feedbackvalue",
                    "Identifier": "Feedbackvalue",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Suggestion",
                    "Identifier": "Suggestion",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Rootcause",
                    "Identifier": "Rootcause",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Auditobservation",
                    "Identifier": "Auditobservation",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.category",
                    "Identifier": "Category",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.conformation",
                    "Identifier": "Conformation",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.riskrating",
                    "Identifier": "Riskrating",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Keyfacts",
                    "Identifier": "Keyfacts",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Observationpreviousaudit",
                    "Identifier": "Observationpreviousaudit",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Newchanges",
                    "Identifier": "Newchanges",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Newiprovements",
                    "Identifier": "Newiprovements",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AOD",
                    "Identifier": "Aod",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.currentauditobservation",
                    "Identifier": "Currentauditobservation",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.observationpending",
                    "Identifier": "Observationpending",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.satisfactionrating",
                    "Identifier": "Satisfactionrating",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.inputfromauditee",
                    "Identifier": "Inputfromauditee",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnFeedbackRetail",
                    "Identifier": "AcnFeedbackRetail",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Likeliwoodvalue",
                    "Identifier": "Likeliwoodvalue",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.riskmatrix",
                    "Identifier": "Riskmatrix",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnReviewRef",
                    "Identifier": "AcnReviewRef",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.DARClarifications",
                    "Identifier": "DarClarifications",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.DARrelease",
                    "Identifier": "DaRrelease",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.finalstatusvalue",
                    "Identifier": "Finalstatusvalue",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MeetingAbsentauditee",
                    "Identifier": "MeetingAbsentauditee",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MeetingAbsentauditor",
                    "Identifier": "MeetingAbsentauditor",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.percentage",
                    "Identifier": "Percentage",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.sbu",
                    "Identifier": "Sbu",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MeetingAbsentauditordetails",
                    "Identifier": "MeetingAbsentauditordetails",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Languages",
                    "Identifier": "Languages",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnAuditeeabsRef",
                    "Identifier": "AcnAuditeeabsRef",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AcnMaster",
                    "Identifier": "AcnMaster",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MasterAcn",
                    "Identifier": "MasterAcn",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.adminstatusvalue",
                    "Identifier": "Adminstatusvalue",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PendingAcn",
                    "Identifier": "PendingAcn",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.location",
                    "Identifier": "Location",
                    "Module": "Adminstration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Adminstration"
                },
                {
                    "Tablename": "dbo.observationmaster",
                    "Identifier": "Observationmaster",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.scopeexclude",
                    "Identifier": "Scopeexclude",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.finalobservation",
                    "Identifier": "Finalobservation",
                    "Module": "ACN",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(localdb)\\v11.0; Initial Catalog=coromendal_Northwind_v1; Integrated Security=true",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.location",
                    "Identifier": "Location",
                    "Module": "Adminstration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Adminstration"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\coromendal\\coromendal.Web\\coromendal.Web.csproj",
    "RootNamespace": "coromendal",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true
}