@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.basicsamples.less";
@import "site.membership.less";
@import "site.northwind.less";

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnDialog {
    > .size { width: 650px;  }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnAuditeeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnAuditorDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnAuditeeRefDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnAuditorRefDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MinutesofmeetingDialog {
    > .size { width: 1200px; height:450px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingIssueDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-NotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MyNotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingPointsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-QuestionsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-FeedbackDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}
.percent-complete-bar {
  display: inline-block;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-ScopeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnreportDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnreportDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnreportDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnFeedbackDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-FeedbackvalueDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-SuggestionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-RootcauseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AuditobservationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-CategoryDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-ConformationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-RiskratingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-KeyfactsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-KeyfactsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}