@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.basicsamples.less";
@import "site.membership.less";
@import "site.northwind.less";

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnDialog {
    > .size { width: 650px;  }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnAuditeeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnAuditorDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnAuditeeRefDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnAuditorRefDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MinutesofmeetingDialog {
    > .size { width: 1200px; height:450px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingIssueDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-NotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MyNotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingPointsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-QuestionsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-FeedbackDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}
.percent-complete-bar {
  display: inline-block;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-ScopeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnreportDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnreportDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnreportDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnFeedbackDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-FeedbackvalueDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-SuggestionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-RootcauseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AuditobservationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-CategoryDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-ConformationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-RiskratingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-KeyfactsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-KeyfactsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingIssueDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingIssueDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingPointsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingPointsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MinutesofmeetingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MinutesofmeetingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-ObservationpreviousauditDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-NewchangesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-NewiprovementsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AodDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AodDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-CurrentauditobservationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-ObservationpendingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-SatisfactionratingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-InputfromauditeeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnFeedbackRetailDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-SatisfactionratingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-SatisfactionratingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-LikeliwoodvalueDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-RiskmatrixDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-AcnReview-AcnReviewRefDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-DarClarificationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnReviewRefDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-DarClarificationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-DaRreleaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-DaRreleaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-DarClarificationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnReviewRefDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-FinalstatusvalueDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentauditeeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentauditorDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-PercentageDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-SbuDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentauditordetailsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentauditorDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentauditorDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentauditorDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-MeetingAbsentauditorDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-AcnAuditeeabsRefDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-AcnMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-AcnMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-AcnMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Administration-AcnMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-MasterAcn-MasterAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-MasterAcn-MasterAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-MasterAcn-MasterAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-MasterAcn-MasterAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-MasterAcn-MasterAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Administration-MasterAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Administration-MasterAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Administration-AdminstatusvalueDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Administration-PendingAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Administration-MasterAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Administration-MasterAcnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-LocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-LocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-LocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-LocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-LocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-LocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Adminstration-LocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Administration-LocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Administration-LocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-ObservationmasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-ScopeexcludeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-FinalobservationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-ACN-FinalreportDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}