.ui-dialog  {
    height: 90% !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ui-dialog-content {
    height: 95% !important;
    overflow: hidden !important;
}
.s-MinutesofmeetingDialog {
    width: 98% !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.category-anchor {
    color: #000000 !important;
}
.category-title {
    text-align: center !important;
}
.caption {
    width: auto !important;
    color: #000000 !important;
}
.AcnidPhaseNo {
    max-width: 14%;
}
.AcnidCreationdate {
    max-width: 21%;
}
.momdate, .planeddate {
    max-width: 20%;
    text-align: left;
}
.auditopeneddate {
    max-width: 25%;
    text-align: left;
}
.AcnidPeriodfrom, .AcnidPeriodto,
.AcnidFromdate, .AcnidTodate {
    max-width: 50%;
}
.category:nth-child(4), .category:nth-child(5) {
    max-width: 50%;
    display: inline-flex;
}
.slick-header-columns {
    left: 0px !important;
    min-width: 100% !important;
}
.slick-header-column {
    left: 0 !important;
}
.AcnidScopeList .slick-header-columns div:nth-child(2) {
    min-width: 94% !important;
}
.AbsentList .slick-header-columns div:nth-child(2) {
    min-width: 19% !important;
}
.AbsentList .slick-header-columns div:nth-child(3) {
    min-width: 29% !important;
}
.AbsentList .slick-header-columns div:nth-child(4) {
    min-width: 45% !important;
}
.AuditeeAbsent .slick-header-columns div:nth-child(2) {
    min-width: 19% !important;
}
.AuditeeAbsent .slick-header-columns div:nth-child(3) {
    min-width: 29% !important;
}
.AuditeeAbsent .slick-header-columns div:nth-child(4) {
    min-width: 45% !important;
}
.PreviousObservationaudit .slick-header-columns div:nth-child(2) {
    min-width: 19% !important;
}
.PreviousObservationaudit .slick-header-columns div:nth-child(3) {
    min-width: 74% !important;
}
.PointsList .slick-header-columns div:nth-child(2) {
    min-width: 19% !important;
}
.PointsList .slick-header-columns div:nth-child(3) {
    min-width: 74% !important;
}
.DetailList .slick-header-columns div:nth-child(2) {
    min-width: 10% !important;
}
.DetailList .slick-header-columns div:nth-child(3) {
    min-width: 10% !important;
}
.DetailList .slick-header-columns div:nth-child(4) {
    min-width: 10% !important;
}
.DetailList .slick-header-columns div:nth-child(5) {
    min-width: 10% !important;
}
.DetailList .slick-header-columns div:nth-child(6) {
    min-width: 10% !important;
}
.DetailList .slick-header-columns div:nth-child(7) {
    min-width: 35% !important;
}
.Newimprovements .slick-header-columns div:nth-child(2) {
    min-width: 19% !important;
}
.Newimprovements .slick-header-columns div:nth-child(3) {
    min-width: 74% !important;
}
.Newchanges .slick-header-columns div:nth-child(2) {
    min-width: 19% !important;
}
.Newchanges .slick-header-columns div:nth-child(3) {
    min-width: 74% !important;
}