
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ACN.Finalreport.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new coromendal.ACN.FinalreportGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>