
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ACN.AcnFeedbackRetail.EntityPlural");
}

@section Head {
    <link rel="stylesheet" href="~/Content/retailfeedback/retailfeedback.css">
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new coromendal.ACN.AcnFeedbackRetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>