
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.Location.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new coromendal.Administration.LocationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>